<div id="modal1" class="modal_div" style="display:none;">
    <div>
        <span>Add new feed</span>
        <span class="modal_close">X</span>
    </div>

    <div class="form-container">
        <div data-action="AddNewFeed">
            <div class="form-group">
                <label for="feedName">Feed Name:</label>
                <input type="text" class="form-control" placeholder="Enter name" id="feedName">
            </div>
            <div class="form-group">
                <label for="feedLink">URL:</label>
                <input type="text" class="form-control" placeholder="Enter url" id="feedLink">
            </div>
            <button class="btn btn-primary addNewFeed">Add</button>

        </div>
    </div>

</div>
