
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetFavorites</title>
</head>
<body>
    <div> 
        <h2>This option is still under development.</h2>
    </div>
</body>
</html>
